---
import BasicLayout from "../layout/BasicLayout.astro"
import About from "../components/About.astro";
import Navigation from "../components/Navigation.astro";
import Skills from "../components/Skills.astro";
import { getEntry, getCollection } from "astro:content";
const res = await getEntry("pages", "index")
const projects = await getCollection("projects")
projects.length = 3;
const {Content} = await res.render()
const title = "Jeshol - index"
---


<BasicLayout title={title}>
		<div class="flex flex-col">
			<Navigation/>
			<section transition:animate="fade"  class="flex lg:flex-row flex-col gap-2  bg-white md:p-8 p-4">
				<div class="flex lg:flex-row flex-col gap-2 max-w-5xl mx-auto">
					<img  transition:animate="initial"  transition:name="hero-image" class="max-w-2xl rounded-xl mx-auto w-full" src="/images/nomad.jpg" alt="mountain"/>
					<div class=" p-4 md:px-10 flex flex-col gap-4 my-auto">
						<h3 class="text-3xl">My way</h3>
						<div>
							<Content/>
						</div>
						<div>
							<a href="/posts/1" class="bg-sky-500 text-white rounded-md p-2 hover:bg-sky-300">My projects</a>
						</div>
					</div>	
				</div>
			</section>
			<div  transition:animate="fade"  class="bg-sky-100 md:pt-8 pt-4 text-center text-3xl">
				<h2>Portfolio</h2>
			</div>
			<section transition:animate="slide" class="flex md:flex-row flex-col md:py-4 pb-4 bg-sky-100 text-lg">
				<div class="mx-auto flex lg:flex-row flex-col md:w-3/4">
				{projects.map((post,i )=>(
					<div class="p-4 basis-1/3 ">
						<article  class=" flex flex-col w-full p-8 bg-white">
						<div class="flex min-h-52 max-w-52 mx-auto">
							<img src={post.data.image} alt="mountain" class=""/>
						</div>
						<header transition:animate="initial" transition:name={post.data.title} class="py-2">
							<h3  class="text-xl"> 
								{post.data.title}
							</h3>
						</header>
						<main>
							<span class="bg-red line-clamp-3 text-left">
								{post.data.excerpt}
							</span>
						</main>
						<footer class="pt-4 text-right">
							<a class="bg-sky-200 p-2 rounded-md hover:bg-sky-100" href={`/posts/${post.slug}`}>Read more</a>
						</footer>
				</article>	
				</div>
				))}
				</div>
			</section>
			<div  transition:animate="fade"  class="bg-white pt-8 text-center text-3xl">
				<h2>About</h2>
			</div> 
			<section class="bg-white text-lg text-left">
				<div class=" mx-auto md:w-3/4 md:py-8 p-4">
					<Skills/>
				</div>
			</section>
			<section class="bg-sky-200">
				<div class=" mx-auto md:w-3/4  md:p-4">
					<About/>
				</div>
			</section>
    	</div>
</BasicLayout>

